# Django specific files
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3

# Environment variables
.env
venv/

# Static files
staticfiles/
media/

# IDE specific files
.vscode/
.idea/
.zed/
.ropeproject/

# Logs
*.log

# Coverage reports
.coverage
htmlcov/
.coverage.*

# Test output
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MacOS specific files
.DS_Store